@{
    ViewData["Title"] = "Sigarets counter";
}

<div class="text-center">
    <h1 class="display-4">Sigarets counter</h1>
    <p>Sigarets counter</p>

    <p>Go GetAll<a href="https://localhost:7146/SigaretsCounter/GetAll?userid=1">test</a>.</p>
     <p>Go GetCount<a href="https://localhost:7146/SigaretsCounter/GetCount?userid=1">test</a>.</p>
    <p>Go PutCount<a href="https://localhost:7146/SigaretsCounter/PutCount?userid=1">test</a>.</p>
</div>
