@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go get<a href="https://localhost:44362/SigaretsCounter/GetSigaretsCount?userid=1">test</a>.</p>
    <p>Go put<a href="https://localhost:44362/SigaretsCounter/PutSigaretsCount?userid=1">test</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
